header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color:white;
    color: black;
}